# Ignore the Python Virtual Environment
backend/.venv/
backend/__pycache__/
*.pyc

# Ignore the Node modules and Next.js build
frontend/node_modules/
frontend/.next/
frontend/out/

# System files
.DS_Store
.env
